.headlineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.bigButton {
  font-size: 2rem;
  font-weight: 600;
  padding: 20px 50px;
  color: white;
  background-color: purple;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 20px;
  border-radius: 10px;
  font-size: 2rem;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}

.buttonYes {
  background-color: rgb(69, 219, 77);
}

.buttonNo {
  background-color: rgb(93, 62, 205);
}